<div class="topnavbar">
<div class="container">
    <ul class="topnav">
      <li><%= link_to 'List Students', root_path, class:'active' %></li>
      <li><%= link_to 'New Student', new_student_path %></li>
      <li><a href="#contact">Contact</a></li>
      <li class="right"><%= link_to 'Students', students_path, class:'active' %></li>
    </ul>
    </div>
</div>
    