<div class="container" style="margin-top: 50px;">
    <h2>Editing Student</h2>

    <%= render 'form' %><br><br>
    
    <%= link_to 'Show', @student, class:'btn btn-sm btn-success' %> |
    <%= link_to 'Back', students_path, class:'btn btn-sm btn-primary' %>
</div>