<div class="container" style="margin-top: 50px;">
    <h1>Editing Student</h1>

    <%= render 'form' %>
    
    <%= link_to 'Show', @student, class:'btn btn-sm btn-success' %> |
    <%= link_to 'Back', students_path, class:'btn btn-sm btn-primary' %>
</div>