<div class="container" style="margin-top: 50px;">
    <h2>Registration New Student</h2>
    
    <%= render 'form' %><br>

    <%= link_to 'Students List', students_path, class:'btn btn-sm btn-primary' %>
</div>